{% extends 'base.html.twig' %}

{% block title %}Traaavl - Générateur{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}

<div id="generator-details" class="container mt-20">
    <div class="h-full">
        <div class="flex justify-between">
            <h1>Summary of destinations: {{ departure|capitalize }} to {{ arrival|capitalize }}</h1>
            <div class="clipboard">
                <div class="icon">
                    <i class="fas fa-clipboard"></i>
                </div>
                <label for="copy" class="hidden">Copy</label>
                <input id="copy" value="{{ share }}" readonly>
            </div>
        </div>
        {% for activity in activities %}
            <div class="flex my-4 text-violet">
                <div>
                    <img class="rounded-lg" src="https://lh5.googleusercontent.com/p/AF1QipMgvyHpmLy8ycVVZXDIma9jxKPCg6XQsnIzzB0A=w400-h300-k-no" alt="odwich"/>
                </div>
                <div class="p-4 w-full flex flex-col">
                    <div>
                        <h2 class="w-auto inline-block border-eden text-xl font-medium">{{ activity.getName() }}</h2>
                    </div>
                    <div class="flex mt-4">
                        <p class="font-medium text-black text-md mr-4">Address: </p>
                        <p class="text-silver text-md outline-none">{{ activity.getAddress() }}</p>
                    </div>
                    <div class="flex">
                        <p class="font-medium text-black text-md mr-4">Phone: </p>
                        <p class="text-silver text-md outline-none">{{ activity.getPhone() }}</p>
                    </div>
                    <div class="flex mt-4">
                        <p class="text-md outline-none">{{ activity.getDescription() }}</p>
                    </div>
                    <div class="flex justify-between mt-auto">
                        <button class="px-5 h-8 rounded-full bg-carnation text-white font-medium text-md">
                            <i class="far fa-trash-alt mr-2"></i>
                            Supprimer du Roadtrip
                        </button>
                        <a href="{{ activity.getReservationUrl() }}">
                            <button class="px-5 h-8 rounded-full bg-gigas text-white font-medium text-md">
                                <i class="fas fa-external-link-alt mr-2"></i>
                                Site de réservation
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
{% endblock %}
