{{ form_start(form) }}

    {{ form_widget(form.title, {'attr': {'class': 'form title', 'placeholder': 'New post title...'}}) }}

    <div class="form roadtrip my-10 text-xl">
        <p class="mr-4">Include a roadtripe ?</p>
        <select name="roadtrip_ulid">
            <option value="">Don't integrate Roadtripe</option>
            {% for roadtrip in app.user.roadtrips %}
                <option value="{{ roadtrip.ulid }}">From {{ roadtrip.departure }} To {{ roadtrip.arrival }}</option>
            {% endfor %}
        </select>
    </div>


    {{ form_widget(form.description, {'attr': {'class': 'form content', 'placeholder': 'Write your post content here...', 'rows': '15'}}) }}

    <button class="submit_btn mt-4">{{ button_label|default('Publish it!') }}</button>
{{ form_end(form) }}
