{% extends 'base.html.twig' %}

{% block title %}ForumThread index{% endblock %}

{% block body %}
    <h1>ForumThread index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for forum_thread in forum_threads %}
            <tr>
                <td>{{ forum_thread.id }}</td>
                <td>{{ forum_thread.title }}</td>
                <td>{{ forum_thread.description }}</td>
                <td>{{ forum_thread.createdAt ? forum_thread.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ forum_thread.updatedAt ? forum_thread.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('forum_thread_show', {'id': forum_thread.id}) }}">show</a>
                    <a href="{{ path('forum_thread_edit', {'id': forum_thread.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('forum_thread_new') }}">Create new</a>
{% endblock %}
