<div class="w-60 bg-gray-500 h-full min-h-screen p-0">
    <div class="bg-gray-800 text-white text-center w-full p-4"><a href="{{ path('admin_dashboard') }}">
            Traaavl Admin
        </a>
    </div>
    <section>
        <ul class="text-white pl-4">
            <li class="p-4">
                <a class="hover:underline" href="{{ path('admin_activity_index') }}">
                    <span class="sm:hidden md:hidden lg:flex">Activité</span>
                </a>
            </li>
            <li class="p-4">
                <a class="hover:underline" href="{{ path('admin_category_index') }}">
                    <span class="sm:hidden md:hidden lg:flex">Catégorie</span>
                </a>
            </li>
            <li class="p-4">
                <a class="hover:underline" href="{{ path('admin_city_index') }}">
                    <span class="sm:hidden md:hidden lg:flex">Ville</span>
                </a>
            </li>
            <li class="p-4">
                <a class="hover:underline" href="{{ path('admin_company_index') }}">
                    <span class="sm:hidden md:hidden lg:flex">Entreprise</span>
                </a>
            </li>
            <li class="p-4">
                <a class="hover:underline" href="{{ path('admin_contact_index') }}">
                    <span class="sm:hidden md:hidden lg:flex">Contact</span>
                </a>
            </li>
            <li class="p-4">
                <a class="hover:underline" href="{{ path('admin_forum_thread_index') }}">
                    <span class="sm:hidden md:hidden lg:flex">Forum</span>
                </a>
            </li>
            <li class="p-4">
                <a class="hover:underline" href="{{ path('admin_road_trip_index') }}">
                    <span class="sm:hidden md:hidden lg:flex">RoadTrip</span>
                </a>
            </li>
            <li class="p-4">
                <a class="hover:underline" href="{{ path('admin_user_index') }}">
                    <span class="sm:hidden md:hidden lg:flex">Utilisateur</span>
                </a>
            </li>
        </ul>
    </section>
</div>