{% extends 'base.html.twig' %}

{% block title %}RoadTrip{% endblock %}

{% block body %}
    <h1>RoadTrip</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ road_trip.id }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ road_trip.createdAt ? road_trip.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ road_trip.updatedAt ? road_trip.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('road_trip_index') }}">back to list</a>

    <a href="{{ path('road_trip_edit', {'id': road_trip.id}) }}">edit</a>

    {{ include('road_trip/_delete_form.html.twig') }}
{% endblock %}
