{% extends 'base_admin.html.twig' %}

{% block title %}ForumThread index{% endblock %}

{% block body %}
    <h1>ForumThread index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for forum_thread in forum_threads %}
            <tr>
                <td>{{ forum_thread.id }}</td>
                <td>{{ forum_thread.title }}</td>
                <td>{{ forum_thread.description }}</td>
                <td>{{ forum_thread.createdAt ? forum_thread.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ forum_thread.updatedAt ? forum_thread.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('admin_forum_thread_show', {'id': forum_thread.id}) }}" class="button-blue"><i class="fas fa-eye"></i></a>
                    <a href="{{ path('admin_forum_thread_edit', {'id': forum_thread.id}) }}" class="button-green"><i class="fas fa-pen"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun résultats trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ include('admin/layout/pagination.html.twig', {pagination: pagination}) }}

    <a href="{{ path('admin_forum_thread_new') }}"><button class="button-blue">Ajout</button></a>
{% endblock %}
