{% extends 'base_admin.html.twig' %}

{% block title %}ForumThreadAnswer index{% endblock %}

{% block body %}
    <h1>ForumThreadAnswer index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for forum_thread_answer in forum_thread_answers %}
            <tr>
                <td>{{ forum_thread_answer.id }}</td>
                <td>{{ forum_thread_answer.content }}</td>
                <td>{{ forum_thread_answer.createdAt ? forum_thread_answer.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('admin_forum_thread_answer_show', {'id': forum_thread_answer.id}) }}" class="button-blue"><i class="fas fa-eye"></i></a>
                    <a href="{{ path('admin_forum_thread_answer_edit', {'id': forum_thread_answer.id}) }}" class="button-blue"><i class="fas fa-pen"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun résultats trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ include('admin/layout/pagination.html.twig', {pagination: pagination}) }}

    <a href="{{ path('admin_forum_thread_answer_new') }}"><button class="button-blue">Ajout</button></a>
{% endblock %}
