{% extends 'base_admin.html.twig' %}

{% block title %}ForumThreadAnswer{% endblock %}

{% block body %}
    <h1>ForumThreadAnswer</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ forum_thread_answer.id }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ forum_thread_answer.content }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ forum_thread_answer.createdAt ? forum_thread_answer.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_forum_thread_answer_index') }}">back to list</a>

    <a href="{{ path('admin_forum_thread_answer_edit', {'id': forum_thread_answer.id}) }}" class="p-4 bg-green-700 text-white"><i class="fas fa-pen"></i></a>

    {{ include('admin/forum_thread_answer/_delete_form.html.twig') }}
{% endblock %}
