{% extends 'base.html.twig' %}

{% block title %}Sujet "{{ thread.title|capitalize }}"{% endblock %}

{% block body %}
    <h1>Sujet "{{ thread.title|capitalize }}"</h1>

    Titre : {{ thread.title|capitalize }} <br>
    Description : {{ thread.description }} <br>
    Date de publication : {{ thread.publicationDate ? thread.publicationDate|date('d/m/Y') : 'NC' }} <br>
{% endblock %}
