{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.reservationUrl) }}
    {{ form_row(form.address) }}
    {{ form_row(form.phone) }}
    {{ form_row(form.menu) }}

{{ form_label(form.images) }}
<ul id="images-fields-list"
    data-prototype="{{ form_widget(form.images.vars.prototype)|e }}"
    data-widget-tags="{{ '<li></li>'|e }}"
    data-widget-counter="{{ form.images|length }}">
    {% for imageFild in form.images %}
        <li>
            {{ form_errors(imageFild) }}
            {{ form_widget(imageFild) }}
        </li>
    {% endfor %}
</ul>

<button type="button"
        class="add-another-collection-widget"
        data-list-selector="#images-fields-list">Add another image</button>

{% do form.images.setRendered %}

{{ form_widget(form) }}

    <button class="bg-blue-600 rounded-md text-white py-4">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
