<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}LMDVoyages{% endblock %}</title>
        <link rel="stylesheet" href="{{asset('build/app.css')}}"/>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header class="container flex justify-between items-center my-10">
            <a href="/">
                <p class="text-5xl font-bold">Traaavl.</p>
            </a>
            <nav>
                <a href="{{path('front_forum')}}">
                    <p>Destinations</p>
                </a>
                <a href="{{path('front_forum')}}">
                    <p>Reviews</p>
                </a>
                <a href="{{path('front_forum')}}">
                    <p>Feedbacks</p>
                </a>
                <button>
                    My account
                </button>
            </nav>
        </header>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {{ encore_entry_script_tags('app') }}
    </body>
</html>
