{% extends 'base_admin.html.twig' %}

{% block title %}Contact index{% endblock %}

{% block body %}
    <h1>Contact index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Sujet</th>
                <th>Email</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.subject }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.firstName }}</td>
                <td>{{ contact.lastName }}</td>
                <td>{{ contact.message }}</td>
                <td>
                    <a href="{{ path('admin_contact_show', {'id': contact.id}) }}" class="button-blue"><i class="fas fa-eye"></i></a>
                    <a href="{{ path('admin_contact_edit', {'id': contact.id}) }}" class="button-green"><i class="fas fa-pen"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun résultats trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ include('admin/layout/pagination.html.twig', {pagination: pagination}) }}

    <a href="{{ path('admin_contact_new') }}"><button class="button-blue">Ajout</button></a>
{% endblock %}
